.kuk{
    background-color: blue;
    width: 400px;
    height: 50px;
}
.qizil{
    background-color: red;
    width: 300px;
    height: 100px;
}
.oq{
    background-color: wheat;
    width: 400px;
    height: 50px;
}
.qizil{
    background-color: red;
    width: 400px;
    height: 10px;
}
.yashil{
        background-color: green ;
        width: 400px;
        height: 40px;
}
.tayoq{
    width: 20px;
    height: 400px;
    background-color: burlywood;
}
.orqasi{
    margin-left: 200px;
}