*{
    padding: 0;
    margin: 0;

}
.bg{
background-image: url(./bg.jpg);
background-size: cover;
height: 100vh;
background-repeat: no-repeat;
text-align: center;
}
.header img{
width: 500px;
height: auto;
padding-top: 200px;
animation-name: sss;
animation-duration: 1s;
animation-iteration-count: 10;
}
@keyframes sss{
    0%{
        left: 0;
        width: 400px;

    }
    50%{
        left: 100;
        width: 100px;
    }
    50%{
        left: 100;
        width: 400px;
    }
}
.pro{
    
}