*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image{
    background-image: url(./pho.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
