*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' ,sans-serif;
}
.c{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.c h1{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.s{
    display: flex;
    align-items: center;
}
.con{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}
.con .fa-brands{
    font-size: 70px;
    margin: 16px 0;

}
.con > *{
    flex: 1 1 100%;
}
.con:hover{
    color: white;
}
.con:hover a{
  border-color: white;
  background: white;  
}
.con-1:hover{
    border-color: #1DA1F2;
    background: #1DA1F2;
}
.con-1:hover a{
    color: #1DA1F2;
}
.con-2:hover{
    border-color: #E1306C;
    background: #E1306C;
}
.con-2:hover a{
    color: #E1306C;
}
.con-3:hover{
    border-color: #ff0000;
    background: #ff0000;
}
.con-3:hover a{
    color: #ff0000;
}
.con h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.con p{
    font-size: 17px;
   font-family: 'Poppins' ,sans-serif;
    
}
.con a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}
.con a:hover{
    border-radius: 4px;
}
@media (max-width: 900px) {
    .s{
        display: flex;
        flex-direction: column;
    }
}