*{
    margin: 0;
    padding: 0;
}

.bg{
    height: 100vh;
    background-image: url(./services-2\ \(2\).jpg);
}

.so{
    padding: 60px;
    color: red;
}
.A{
    background-color: blue;
    font-size: 100px;
    padding: 0px;
    margin: 70px;
    color: white;
}
.uy{
    padding: 60px;px;
    font-size: 100px;
    color: white;
}
.usm{
    color: white;
    padding: 60px;px;
}
